.ItemListNav {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 10px;
  /* border-left: dotted 10px rgba(157, 218, 222, 0.98); */
}

.ItemListNav__category-link {
  color: black;
  display: block;
  box-shadow: 1px 10px 14px -5px #1f2122;
  border: #83c3ce .89px solid;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  }

  .category-button {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border: 3px solid rgba(157, 218, 222, 0.98);
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 1px 10px 14px -5px #1f2122;
  }

  .ItemListNav__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;

 
  }
  @media only screen and (min-width: 480px) {
    .ItemListNav__list {

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      }
  }

  @media only screen and (min-width: 720px) {
    .ItemListNav__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      }
  }