html {
  background-position: center;
  background-size: cover;
  background-color: rgba(245, 241, 241, 0.578);
  padding:0px;
  font-family: "Noto Serif KR",serif;
  
}

.main{
text-align: center;
padding: 15px;
  border: dotted 10px rgba(157, 218, 222, 0.98);
  margin: 80px;
  
  
}


.App {
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: rgba(245, 241, 241, 0.578);
}

header {
   background-image: url("../images/food.jpg");
   background-size: contain;
   background-position: center;
}


.title{
  color: rgba(157, 218, 222, 0.98);
  font-size: 85px;
  font-weight: bold;
  border: none;
  font-family: 'Noto Serif KR', serif;
  display: flex;
  justify-content: center;
  background-color: rgba(50, 49, 47, 0.407);
  margin: 0px;
  padding: 100px;

}

Button, select {
  cursor: pointer;
  
}


