html {
  background-position: center;
  background-size: cover;
  background-color: rgba(245, 241, 241, 0.578);
  padding:0px;
  
}

.main{
  text-align: center;
padding: 15px;
  border: dotted 10px rgba(157, 218, 222, 0.98);
  
  
}


.App {
  display: flex;
  justify-self: center;
  flex-direction: column;
  font-family: 'Bree Serif', serif;
  background-color: rgba(245, 241, 241, 0.578);
}

header {
   background-image: url("../images/kitchen3.jpg");
   background-size: cover;
   background-position: Top;
   padding: 50px;
}


.title{
  color: rgba(157, 218, 222, 0.98);
  font-size: 80px;
  font-weight: bold;
  border: none;
  font-family: 'Noto Serif KR', serif;
}

Button, select {
  cursor: pointer;
}