.enter {
    background: rgb(157, 218, 222);
    box-shadow: 0px 10px 14px -8px #51d0e6;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    width: 30%;
    margin: auto;
    list-style-type: none;
}

footer {
    font: 12px;
    margin: 20px;
}

.landing-page p, h1, h3 {
    font-size: 30px;

}

.sub-title {
    font-size: 51px;
    margin: auto;
}

.title {
    color: #e88690;
    font-size: 80px;
    box-shadow: 0px 10px 14px -5px #51d0e6;
    text-shadow: 0px 1px 0px #3d768a;
}